.carrito-icon{
    color: white;
    font-size: 30px;
    margin-right: 50px;
}

.carrito-icon:hover{
    color: #9ee6f3;
    transition: 0.8s ease;
    transform: scale(1.1);
}

.contador-carrito {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 20px;
    right: 37px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50%;
    padding: 4px 6px;
    min-width: 20px;
    text-align: center;
}

.container-carrito{
    position: relative;
}

.activo .carrito-icon{
    margin-top: 13px;
}

.activo .contador-carrito{
    margin-top: 13px;
}

.carrito{
    position: absolute;
    top: 50px;
}

.container-botones-carrito{
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.boton-comprar{
    background-color: #484b4b;
    opacity: 0.9;
    border: none;
    color: white;
    padding: 6px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.boton-comprar:hover{
    background-color: #29a74b;
    transform: scale(1.05);
}

.boton-limpiar{
    background-color: #484b4b;
    opacity: 0.9;
    border: none;
    color: white;
    padding: 6px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.boton-limpiar:hover{
    background-color: #d65153;
    transform: scale(1.05);
}


@media screen and (max-width: 1150px){
    .carrito-icon{
        font-size: 25px;
        margin-right: 40px;
    }

    .contador-carrito{
        top: 15px;
        right: 30px;
        font-size: 8px;
        padding: 3px 5px;
    }

    .activo .carrito-icon{
        margin-top: 10px;
    }

    .activo .contador-carrito{
        margin-top: 10px;
    }
}

@media screen and (max-width: 500px){
    
}




