body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
 /* background-color: #101010;*/
  background: #101010;
  background: linear-gradient(rgb(13, 13, 13), rgb(27, 27, 27));
  height: 100%;
  font-family: sans-serif;
}